.carouselContainer{
  /* height: 20%; */
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.carouselImg {
  border-radius: 20px;
  height: 65vh; /* Takes up most of the viewport height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  filter: brightness(0.9); 
}

@media (max-width: 768px) {
  .carouselImg {
    height: 50vh; /* Smaller height for mobile */
  }
}

.carouselCaption {
  bottom: 20%; /* Moves caption up a bit */
  text-align: center;
}

.carouselCaption h3 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}

.carouselCaption p {
  font-size: 1.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  max-width: 800px;
  margin: 0 auto;
}

/* Additional overlay if filter isn't enough or need gradient */
.overlay {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.5)); */
  /* background: linear-gradient(to bottom, rgba(221, 206, 206, 0.2), rgba(206, 202, 202, 0.5)); */
  pointer-events: none;
  z-index: 1;
}

/* mobile */
@media (max-width: 768px) {
  .carouselContainer {
    width: 100%;
    padding: 10px;
  }

  .carouselImg {
    height: 50vh; /* Smaller height for mobile */
  }
}