.drafteBtn {
  /* background: #b91c1c !important;
  border-color: #b91c1c !important; */
  background: #b91c1c !important;
  border-color: #b91c1c !important;
  color: #fff !important;
  padding: 15px !important;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 6px;
  white-space: nowrap;
  flex-shrink: 0;
}

.drafteBtn:hover {
  background: #991b1b !important;
  border-color: #991b1b !important;
}

/* disabled state */
.drafteBtn:disabled {
  /* background: #e5e7eb !important;
  border-color: #e5e7eb !important;
  color: #9ca3af !important;
  cursor: not-allowed; */
    background: #b91c1c !important;
  border-color: #b91c1c !important;
  color: white !important;
  opacity: 0.6;
  cursor: not-allowed;
}
